<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="/">RA-Service</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        @*<a href="/" class="logo mr-auto"><img src="~/Content/img/logo.png" alt="" class="img-fluid"></a>*@

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="/">Accueil</a></li>
                <li><a href="/Requests">Toutes les demandes</a></li>
                <li><a href="/Request">Poster une demande</a></li>
                <li><a href="/Service">Proposer un service</a></li>

                <li class="drop-down">
                    <a href="">UserName</a>
                    <ul>
                        <li><a href="#">Mon profil</a></li>
                        <li><a href="#">Mon compte</a></li>
                        <hr />
                        <li><a href="#">Déconnexion</a></li>
                    </ul>
                </li>

            </ul>
        </nav><!-- .nav-menu -->
                <a href="/login" class="register-btn scrollto">Inscription</a>
                <a href="/login" class="login-btn scrollto">Connexion</a>

    </div>
</header><!-- End Header -->
<!-- ======= Header ======= -->
<!--<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <h1 class="logo"><a href="index.html">Sailor</a></h1>-->
<!-- Uncomment below if you prefer to use an image logo -->
<!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
<!--<nav class="nav-menu d-none d-lg-block">

    <ul>
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact.html">Contact</a></li>

        <li class="drop-down float-right">
            <a href="#">Username</a>
            <ul>
                <li><a href="#">Tableau de bord</a></li>
                <li><a href="#">Mon profil</a></li>
                <li><a href="#"></a></li>
                <li><a href="#">Déconnexion</a></li>
            </ul>
        </li>
    </ul>
</nav>-->
<!-- .nav-menu -->
<!--<a href="index.html" class="get-started-btn ml-auto">Get Started</a>


    </div>
</header>-->
<!-- End Header -->
